MONGO_URI=mongodb://localhost:27017/media-processing

REDIS_HOST=localhost
REDIS_PORT=6379

HF_API_KEY=your-huggingface-inference-api-token

UPLOADS_DIR=uploads
API_URL=http://localhost:5000

GOOGLE_APPLICATION_CREDENTIALS=./config/google-vision.json
