MONGO_URI=mongodb://localhost:27017/media-processing

REDIS_HOST=localhost
REDIS_PORT=6379

HF_API_KEY=your-huggingface-inference-api-token

GOOGLE_APPLICATION_CREDENTIALS=./config/google-vision.json
